.posts-index-page {
  .page-container {
    margin-top: 20px;
    position: relative;
  }

  .page-tool-line {
    padding: 10px;
    margin-bottom: 20px;
    text-align: right;
  }

  .post-card {
    margin-bottom: 30px;

    .post-header {
      background-color: #fff;

      .post-author {
        display: flex;
        align-items: flex-end;

        &-name {
          flex: 1;
        }

        &-avatar {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          margin-right: 10px;
        }
      }

      .post-created-at {
        text-align: right;
        font-size: 12px;
        color: #CCCCCC;
      }
    }

    .post-body {
      .card-title {
        padding-left: 10px;
        border-left: 3px solid #eee;
        color: #555555;
        font-size: 14px;
      }
      .card-text {
        margin-bottom: 20px;
        color: #353535;
        font-size: 16px;
      }
    }

    .post-footer {
      display: flex;
      align-items: center;
      font-size: 14px;
      padding: 5px;

      .post-action {
        flex: 1;
        text-align: center;
      }
    }
  }

  .floating-btn {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 100px;
    right: 30px;
    display: flex;
    align-items: center;
    z-index: 100;
  }

  .new-btn {
    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 50%;
    font-size: 40px;
    line-height: 1;
    padding: 0;
  }
}

.posts-new-page {
  .page-head {
    margin: 30px auto 30px;
    font-size: 22px;
    line-height: 1;
    vertical-align: middle;
    display: flex;
    align-items: center;

    .mistakes-count {
      margin: 0 5px;
    }
  }
}
