# Use `rake secret` to generate one key
SECRET_KEY_BASE: ''

# domain name used by action cable
DOMAIN: ''
PROTOCOL: http

# UPYUN set
UPYUN_USERNAME: ''
UPYUN_PASSWORD: ''
UPYUN_BUCKET: ''
UPYUN_BUCKET_HOST: ''

# sidekiq namespace
SIDEKIQ_NAMESPACE: ''

# MIXIN API config
MIXIN_CLIENT_ID: '0508a116-1239-4e28-b150-85a8e3e6b400'
MIXIN_CLIENT_SECRET: ''
MIXIN_DEFAULT_SCOPE: 'PROFILE:READ+PHONE:READ+ASSETS:READ'

# debug mode
SESSION_DEBUG_MODE: 'true'
