# Use `rake secret` to generate one key
SECRET_KEY_BASE: '800fb2b22a13ce5d03296c0fa663e01ba914cfc426e7623c14cfcee64b896baed258149833279202c216ec7f64d6b95738c025fa33ae988c9b7b8521072b602b'

# domain name used by action cable
DOMAIN: ''
PROTOCOL: http

# UPYUN set
UPYUN_USERNAME: ''
UPYUN_PASSWORD: ''
UPYUN_BUCKET: ''
UPYUN_BUCKET_HOST: ''

# sidekiq namespace
SIDEKIQ_NAMESPACE: ''

# MIXIN API config
MIXIN_CLIENT_ID: '0508a116-1239-4e28-b150-85a8e3e6b400'
MIXIN_CLIENT_SECRET: '0c97afa17458f6c70f5c705206870fde0c21f1c6fce8ff23f3212b78ca2a6fad'
MIXIN_DEFAULT_SCOPE: 'PROFILE:READ+PHONE:READ+ASSETS:READ'
MIXIN_PIN_CODE: '812914'
MIXIN_SESSION_ID: '65027a0c-95ee-42e4-b34f-a00281f30b45'
MIXIN_PIN_TOKEN: 'a5c2e349-f470-4ef5-afb7-3d52bbb8669b
MHikQF/wqRPydwfo5jcOd+BRvAmMOsN15VG+kBgBuuuW0z/CgIgAP+vQSWsl37x1bJAERafoszkRVF2oo7lipvu4LDg3vGF9BAp8aJ3RruY+Vouhwh7t8yodue3vTPBuntuz6mq2RPVu0f12q6d1gDmfANIgMgMMce5p4bt5DOU='
MIXIN_PRIVATE_KEY: |
  -----BEGIN RSA PRIVATE KEY-----
  MIICXQIBAAKBgQDNlw1KwX9YY8F4uzj77ljP3AHXqcnoLMeYDPZ1dUCeuLqhFuV5
  Y2Uno9XKLvSz34/oyb1SP0YtG6amS2SQ2ibUtDF+N38AB4SwRr8+Ulnyo9pYNs/p
  PAab0hDQByx563L1C5Ucj+g2k71jZN+eGL+rI/T1+vJh96YoPtq700PwMwIDAQAB
  AoGBAJiXHnR3vY7bK4PyYc8LDrvoLS3mhUdfxRyjsmFnj3i+3zYlCljYXwHW5hzU
  UScYLXW4Fl5vPCTKuxv+JTwlzl8Gc4qUJ0pzs8wq0qmW4RRT9E2Q8ClvuERlPFAT
  4JxMLjdzYouWmN0Jmt6jSXPxenXxsR4R0rFR6DkcZXp/+EDxAkEA/9XfxzEYF0fG
  uzd+TQKo/LMqEVuuWFprh2MOyO6KbZGiTw5A/34ZSJ2aoZEqPiP2cxYmOLijIpS2
  Sjwg7QeN5wJBAM2454WBDwFaCcBAA5bDVw62wX3aEORGLoP09J50lcEgmKFhbCml
  3y2BO0igdrj8hqOtA83iXTOaf09D7i7cSdUCQB+uqMvONKGNbfr5YFbBIZRJy8fi
  hrDCYdaeWdJgWBxBkMwhg8MgJplrix6/D3Aqm/aco5capnk92WVQFPPFn7kCQGJH
  nKul/VIq/o+OxWgoCBYqbwO9wuYbNSurQZXVoplyBhjK3w6ChL1LiNPofO9hDL1y
  8WdRZi859uoaTNasPMUCQQDTCsdGVsthxUmEfaetQ3HAsPIZ/xgmv4oXjdXXmmWZ
  A+DwmapHNwKWYYhLLHG1jMN0clSBB6gtErm+tNDksdH7
  -----END RSA PRIVATE KEY-----

# debug mode
SESSION_DEBUG_MODE: 'true'
